@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../../assets/fonts/OpenSans-Regular.woff') format('woff'),
       url('../../assets/fonts/OpenSans-Regular.ttf') format('truetype'),
       url('../../assets/fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'righteous';
  src: url('../../assets/fonts/righteous.eot');
  src: url('../../assets/fonts/righteous.woff2') format('woff2'),
       url('../../assets/fonts/righteous.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

